body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}
header{
    flex-basis: 120px;
    background-color: orange;
}
header > h1{
    font-size: 50px;
    text-orientation: sideways;
}
nav{
    padding: 20px;
    box-sizing: border-box;
    background-color: yellowgreen;
}
nav > ul > li {
    display: inline-block;
}
main{
    max-width: 1200px;
    align-self: center;
    flex: 1;
    background-color: thistle;
}
footer{
    flex-basis: 200px;
    background-color: darkolivegreen;
}