/*
tagName 1
.className 10
#idValue 100
*/
    /*  
    0123456789
    0123456789abcdef 
    */
body{
    /* background-color: black; */
}
div{
    /* color: rgba(255,255,255,0.7); */
    /* color: #52104e; HEX */
    color: black;
    font-size: 20px;
    text-align: justify;
    direction: ltr;
    text-decoration: underline;
    /* direction: rtl; */
    /* font-style: italic; */
}
a{
    color: inherit;
    font-size: 40;
    text-decoration: none;
}
button{
    text-transform: capitalize;
} 
 